<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.rocketmade.templateapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="affc410ee7526c8c58e36ff7f522a8a9d8f0b096"/>

        <activity
            android:name=".controllers.activities.IntroActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".controllers.activities.DrawerActivity">
        </activity>

        <activity
            android:name=".controllers.activities.ArticleDetailActivity"
            android:label="@string/title_activity_article_detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
